*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color:black;
}

html{
    font-family: sans-serif;
}
.flex{
    display: flex;
}

.main-container{
    height: 100vh;
    flex-direction: column;
    
}

/* HEADER */

header{
    width: 100%;
    
    align-items: center;
    justify-content: flex-end;
    background-color:black;
    padding: 5px;

}
#h-text,.fa-maximize{
    background-color:#545454;
    border-radius: 5px;
    padding: 5px;
    
}
#h-text{
    margin-right: 5px;
}
#speaker{
    color: white;
       
}
.fa-table-cells, .fa-maximize {
    color: white;
}


/* MAIN */


main{
    flex-grow: 1;
    background-color:black;
    
}
.card{
    position: relative;
}
#user-text{
    color: white;
    position: absolute;
    font-size: 0.8rem;
    bottom: 0px;
    background-color:rgba(0, 0, 0, 0.5);
    padding: 4px 6px;
    
}



/* FOOTER */

footer{
    align-items: center;
    justify-content: space-between;
    background-color:#222222;
    
}


#red-btn{
    color: red;
    background-color:#545454;
    padding: 20px;
}

.f-center-icon{
    text-align: center;
    color: white;
    padding: 0 20px;
}

.f-center-icon i{
    font-size: 1.5rem;
    
}
.f-center-icon div{
    font-size: 0.6rem;
    padding-top: 3px;
}

.fa-share-from-square{
    color: green;
}

.fa-chevron-up{
    color: rgb(242, 235, 235);
    font-size: 0.8rem;
    padding-top: 10px;
}






