*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color:black;
}

html{
    font-family: sans-serif;
}
.flex{
    display: flex;
}

.main-container{
    height: 100vh;
    flex-direction: column;
    
}

/* HEADER */

header{
    width: 100%;
    
    align-items: center;
    justify-content: flex-end;
    background-color:black;
    padding: 5px;

}
#h-text,.fa-maximize{
    background-color:#545454;
    border-radius: 5px;
    padding: 5px;
    
}
#h-text{
    margin-right: 5px;
}
#speaker{
    color: white;
       
}
.fa-table-cells, .fa-maximize {
    color: white;
}


/* MAIN */


main{
    flex-grow: 1;
}

/* FOOTER */

footer{
    align-items: center;
    justify-content: space-between;
    background-color:black;
    
}

#red-btn{
    color: red;
    background-color:#545454;
    padding: 20px;
}

.f-center-icon{
    text-align: center;
    color: white;
    font-size: 1.2rem;
    padding:0px 15px;
}



